
h1{
  background-color: rgba(255, 0, 0, 0.5);
  max-width: inherit;
  font-family: Arial black;
  font-size: 40px;
  font-style: italic;
  font-variant: normal;
  font-weight: 400;
  line-height: 38.4px;
  text-align: center;
}
h2{
  background-color: rgba(255,0,0,.2);
  background-size: 5em;
  max-width:inherit;
  font-family: Arial;
  font-size: 15px;
  color: rgba(200,200,200,.5);
}
caption{
  position: fixed;

}

.offset-left {
  background: 2em,rgba(201, 130, 131, 0.7);
  border-top: 2em solid rgba(201, 130, 131, 0.2);
  border-bottom: 2em solid rgba(201, 130, 131, 0.2);
  margin-left: .5em;

}

.offset-left img {
  border: 0px solid #000;
  margin-left: 0em;
  background-position: center;
}

.offset-right {
  background: rgba(0,0,0,.7);
  border-top: 2em solid rgba(0,0,0,.2);
  border-bottom: 2em solid rgba(0,0,0,.2);
  margin-right: 0em;
}

.offset-right img {
  border: 0px solid #000;
  margin-left: 0em;
}
.figure{
  max-width: 30%;
  max-height: 30%;

}

.offset {
    background: rgba(255,0,0,.1);

}
.offset1{
  background:rgba(255, 0, 0, 0.2);
}
.offset2{
  background:rgba(255, 0, 0, 0.3);
}
.offset3{
  background:rgba(255, 0, 0, 0.4);
}
.offset4{
  background:rgba(255, 0, 0, 0.5)
}
.offset img{
  padding:5% 0;
}
.offset1 img{
    padding:5% 0;
}
.offset2 img{
    padding:5% 0;
}
.offset3 img{
    padding:5% 0;
}
.offset4 img{
    padding:5% 0;
}

img{
  size:30%;
}
 main{

   text-align:center;
   font-family:serif;


}
body{
  background-color: rgba(255, 255, 255, 0.5);
}
